# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [59]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [60]:
sal = pd.read_csv(r"C:\Users\nathi\Downloads\k1flw1sj879cvy5j\Salaries.csv")
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** Check the head of the DataFrame. **

In [61]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [62]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [63]:
print("Mean of the column 'BasePay' is: ",sal['BasePay'].mean())

Mean of the column 'BasePay' is:  66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [64]:
print("'Overtime highest amount' is: ",sal['OvertimePay'].max())

'Overtime highest amount' is:  245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [65]:
title = sal['EmployeeName'] == 'JOSEPH DRISCOLL'
sal.loc[title].JobTitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [66]:
title = sal['EmployeeName'] == 'JOSEPH DRISCOLL'
sal.loc[title].TotalPayBenefits

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [67]:
highest_paid = sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()
sal.loc[highest_paid,['EmployeeName','TotalPayBenefits']]

     EmployeeName  TotalPayBenefits
0  NATHANIEL FORD         567595.43

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [68]:
lowest_paid = sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()
sal.loc[lowest_paid,['EmployeeName','TotalPayBenefits']]

       EmployeeName  TotalPayBenefits
148653    Joe Lopez           -618.13

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [69]:
# average_basepay = sal.BasePay.mean()
# average_basepay

grouping = sal.groupby('Year')
grouping.mean().BasePay

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [70]:
unique_jobs = sal.groupby('JobTitle')
unique_jobs.count()
# unique_jobs= sal.drop_duplicates(subset ="JobTitle")
# unique_jobs.JobTitle.count()

,Id,EmployeeName,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
JobTitle,,,,,,,,,,,,
ACCOUNT CLERK,83,83,83,83,83,0,83,83,83,0,83,0
ACCOUNTANT,5,5,5,5,5,0,5,5,5,0,5,0
ACCOUNTANT INTERN,48,48,48,48,48,0,48,48,48,0,48,0
"ACPO,JuvP, Juv Prob (SFERS)",1,1,1,1,1,1,1,1,1,0,1,0
ACUPUNCTURIST,1,1,1,1,1,0,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
X-RAY LABORATORY AIDE,26,26,26,26,26,0,26,26,26,0,26,0
X-Ray Laboratory Aide,100,100,100,100,100,100,100,100,100,0,100,0
"YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS",1,1,1,1,1,0,1,1,1,0,1,0
Youth Comm Advisor,4,4,4,4,4,4,4,4,4,0,4,0
ZOO CURATOR,1,1,1,1,1,0,1,1,1,0,1,0

** What are the top 5 most common jobs? **

In [71]:
unique_jobs = sal.groupby('JobTitle')
unique_jobs.JobTitle.count().nlargest(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [72]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [73]:
job_title = sal['JobTitle'] 
count = 0
for job in job_title:
    if 'chief' in job.lower().split():
        count+=1
print(f"Number of times Chief is : {count}")

Number of times Chief is : 477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [74]:
sal['title_len'] = sal['JobTitle'].apply(len)
sal[['TotalPayBenefits', 'title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000

# Great Job!